{% extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-between mb-3">

    <h2>Products</h2>

    <button class="btn btn-success">
        Add Product
    </button>

</div>

<table class="table table-bordered table-hover bg-white">

    <thead class="table-dark">

        <tr>
            <th>ID</th>
            <th>Product Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Action</th>
        </tr>

    </thead>

    <tbody>

        <tr>
            <td>1</td>
            <td>Laptop</td>
            <td>Electronics</td>
            <td>50000</td>

            <td>

                <button class="btn btn-warning btn-sm">
                    Edit
                </button>

                <button class="btn btn-danger btn-sm">
                    Delete
                </button>

            </td>

        </tr>

        <tr>
            <td>2</td>
            <td>Mouse</td>
            <td>Accessories</td>
            <td>500</td>

            <td>

                <button class="btn btn-warning btn-sm">
                    Edit
                </button>

                <button class="btn btn-danger btn-sm">
                    Delete
                </button>

            </td>

        </tr>

    </tbody>

</table>

{% endblock %}