{% extends 'base.html' %}

{% block content %}

<h1>Add Supplier</h1>

<form method="POST">
    {% csrf_token %}
    {% csrf_token %}

    <div class="mb-3">
        <label>Supplier Name</label>
        <input type="text" class="form-control">
    </div>

    <div class="mb-3">
        <label>Phone Number</label>
        <input type="text" class="form-control">
    </div>

    <div class="mb-3">
        <label>Address</label>
        <textarea class="form-control"></textarea>
    </div>

    <button type="submit" class="btn btn-success">
        Save Supplier
    </button>

</form>

{% endblock %}